@import "tailwindcss";

/* body {
  @apply bg-white text-black dark:bg-black dark:text-white;
} */
/* * {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
} */
.heroSection {
  background-image: url("../../public/Images/wallpaper.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.WhoWeAre {
  background-image: url("../.../../../public//Images/WhoWeAreBg.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* .authLeft , .authRight{
  background-image: url("../../public/Images/authScreenBG.png");
  background-size: cover;
  background-position: center;
} */

.authScreen {
  background-image: url("../../public/Images/authScreenBG.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

@media (min-width: 767px) {
  .authScreen {
    background-image: none;
  }
}

.authBg{
  background-image: url("../../public/bg.png");
  background-position: center;
  background-attachment: fixed;
}
.error{
    color: red;
    font-size: 10px;
}